*{
    font-family: 'Contrail One', Inter, Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

body{
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: auto auto auto 1fr auto;
    background-color: gray;
}

/*top part*/

#top_part{
    grid-column: col-start 1 / span 12;
    background-image: url(../images/nav_n_name_background_img.jpeg);
    background-size: cover;
    background-position: center center;
}

/*header*/

header{
    grid-column: col-start 1 / span 12;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    height: 240px;
}

/*nav bar*/

nav{
    grid-column: col-start 1 / span 6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*main*/

main{
    grid-column: col-start 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
}

/*name&job*/

#background_name{
    grid-column: col-start 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-row: 2;
    min-height: 100vh;
}

.name_job{
    grid-column: col-start 2 / span 12;
    padding-top: 230px;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 50px 40px;
    justify-content: left;

}
.name_job h1{
    font-size: 3em;
    grid-column: col-start 1 / span 12;
    grid-row: 1;
}

.type_writer h3{
    font-size: 2em;
    grid-row: 2;

    font-family: Inconsolata; 
    overflow: hidden; 
    border-right: .15em solid hsl(0, 0%, 0%);
    white-space: nowrap; 
    letter-spacing: .15em; 
    
    animation: 
    typing 3.5s steps(18, end),
    blink-caret .8s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: hsl(0, 0%, 0%) }
}

/*about me*/

.about a:link{
    color: hsl(240, 100%, 50%);
}
.about a:visited{
    color: hsl(240, 100%, 50%);
}

#background_about{
    grid-column: col-start 1 / span 12;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    min-height: 100vh;
    width: 100%;
    background-color: wheat;
}

.about{
    grid-column: col-start 2 / span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about h1{
    font-size: 3em;
}
.about p{
    font-size: 2em;
}

/*projects*/

#background_projects{
    grid-column: col-start 1 / span 12;
    grid-row: 4;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: auto auto;
    background-color: hsla(36, 94%, 53%, 0.8);
}

.projects{
    grid-column: col-start 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    align-items: center;
    height: 100%;
    gap: 10px;
    padding: 5px;
}
.projects #title{
    grid-column: col-start 1 / span 12;
    grid-row: 1;
    text-align: center;
    font-size: 3em;
}
.projects img{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.projects a{
    color: black;
}
/*project 1*/
.projects .pro1{
    grid-column: col-start 1 / span 3;
    grid-row: 2;
    display: block;
    width: 100%;
    height: 550px;
    border-radius: 25px;
    background-color: hsl(0, 0%, 70%);
}
.pro1 h1{
    padding: 20px 10px;
    font-size: 2.5em;
    text-align: center;
}
.pro1 p{
    padding: 40px 10px;
    font-size: 1.5em;
}
/*project 2*/
.projects .pro2{
    grid-column: col-start 4 / span 3;
    grid-row: 2;
    display: block;
    width: 100%;
    height: 550px;
    border-radius: 25px;
    background-color: hsl(0, 0%, 70%);
}
.pro2 h1{
    padding: 20px 10px;
    font-size: 2.5em;
    text-align: center;
}
.pro2 p{
    padding: 40px 10px;
    font-size: 1.5em;
}
/*project 3*/
.projects .pro3{
    grid-column: col-start 7 / span 3;
    grid-row: 2;
    display: block;
    width: 100%;
    height: 550px;
    border-radius: 25px;
    background-color: hsl(0, 0%, 70%);
}
.pro3 h1{
    padding: 20px 10px;
    font-size: 2.5em;
    text-align: center;
}
.pro3 p{
    padding: 40px 10px;
    font-size: 1.5em;
}
.projects .pro4{
    grid-column: col-start 10 / span 3;
    grid-row: 2;
    display: block;
    width: 100%;
    height: 550px;
    border-radius: 25px;
    background-color: hsl(0, 0%, 70%);
}
.pro4 h1{
    padding: 20px 10px;
    font-size: 2.5em;
    text-align: center;
}
.pro4 p{
    padding: 40px 10px;
    font-size: 1.5em;
}

/*contact*/

.contact{
    grid-column: col-start 1 / span 12;
    grid-row: 5;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 5px;
    background-color: hsl(138, 81%, 55%);
}
.contact h1{
    grid-column: col-start 2 / span 11;
    padding-top: 100px;
    grid-row: 1;
    font-size: 5em;
}
.contact form{
    grid-column: col-start 2 / span 12;
    grid-row: 2;
    font-size: 3em;
}
.contact .input{
    width: 500px;
    height: 50px;
    vertical-align: top;
    font-size: 0.7em;
}
.contact textarea{
    font-size: 0.7em;
}
.contact .submit{
    width: 100px;
    height: 50px;
    font-size: 0.6em;
}